:root {
    --color-primary: #FFFFFF;
    --color-primary-dark: #EEEEEE;

    --color-brown-1: #3E3C38;
    --color-brown-2: #403E3B;

    --color-green-light-1: #206E73;
    --color-green-light-2: #3F9E99;
    --color-green-light-3: #76BAB6;
    --color-green-light-4: #A5D7D5;
    --color-green-light-5: #D3E2E1;

    --color-green-dark-1: #025A60;

    --color-heart: #DB6751;

    --color-border: #E8E6E6;

    --color-grey: #9E9D9C;

    --color-violet: #233065;

}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Arimo', sans-serif;
    background-color: var(--color-primary);
}