/* 
HEADER AREA - logo, two item div's
*/

.header {
    &-company-logo__img {
        width: 10.5rem; /* or any custom size */
    }

    &-item-div-links {
        display: flex;
        justify-content: space-between;
        list-style-type: none;

        font-size: 1.3rem;
        font-weight: 600;
    }

}