/* 
HEADER AREA - logo, two item div's
*/

.header {

    &-company-logo{
        display: inline-block;

        &-container {
            // border: 1px solid blue;
        }

        &__img {
            width: 10.5rem; /* or any custom size */
        }
    }

    &-item {
        &-divs {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1;
            
            padding-bottom: 3rem;
    
            // height: 100%;
            // width: 90%;
            // border: 1px solid red;
            
        }
    
        &-div {
            // border: 1px solid green;

    
            &-link {
                display: flex;
                align-items: center;
                // border: 1px solid yellow;
        
                &__text {
                    margin-left: 1rem;
                    font-size: 1.3rem;
                    font-weight: 900;
                }
            }
    
            &-links {
                display: flex;
                justify-content: space-between;
                list-style-type: none;
        
                font-size: 1.3rem;
                font-weight: 600;
                // border: 1px solid red;
        
        
                &-left {
                    display: flex;
                    align-items: center;
                    // border: 1px solid red;
                }
        
                &-right {
                    display: flex;
                    // border: 1px solid green;
                }
            }
        }
    }
  
    &__svg-icon {
        height: 2.3rem;
        width: 2.3rem;
        // border: 1px solid red;
        fill: var(--color-green-dark-1);

        &-heart {
            height: 1.5rem;
            width: 1.5rem;

            margin-right: -.5rem;
            fill: var(--color-heart);
        }
    }
}


// SMALL CARD ITEM BLOCK
.small-card {

    &-layout {

    }

    &-heading {
        font-size: 2.5rem;
        font-weight: 400;
        color: var(--color-brown-1);

        margin-bottom: 2rem;
    }

    &-randc {
        margin-bottom: 8rem;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    &-item {
        display: inline-block;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
        margin-bottom: 2rem;


        &:hover {
            transition: box-shadow .1s;
            box-shadow: 0 4px 20px 0 rgba(0,0,0,.2);
        }

        &:hover &__tag {

            color: var(--color-green-dark-1);
            border-bottom: 1px solid var(--color-green-dark-1);
            cursor: pointer;

        }
        &-div1 {
        }

        &__img {
            width: 23rem;
        }

        &-div2 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 5rem;
        }

        &__tag {
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            text-decoration: none;
            color: black;

        }
    }



}

/*
    MAIN HEADER BLOCK 
*/

.main {

    &-container {
        
    }

    &__heading {

        margin: 4rem 0 3rem 0;

        font-size: 4rem;
        font-weight: 600;
        color: var(--color-brown-1);
        // border: 1px solid red;
    }

    &-top-flexbox {
        display:flex;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);

        &:hover {
            transition: box-shadow .1s;
            box-shadow: 0 4px 20px 0 rgba(0,0,0,.2);
        }

        // border: 1px solid green;

    }

    &-top-img-div {
        width: 66%;
        // border: 1px solid green;
    }

    &__image {
        height: 43rem;
        width: 100%;
        object-fit: cover;
        vertical-align: bottom;
        flex-grow: 2;


        &:hover {
            cursor: pointer;
        }
        // border: 1px solid green;
    }

    &-shop-now {
        &-block {
            // border: 1px solid yellow;

            flex: 1 0 0;

            position: relative;

        }
        
        &-headings {
            // border: 1px solid green;
            position: absolute;
            top: 32%;

            display: flex;
            flex-direction: column;
            align-items: center;

            margin: 0 5rem;
        }

        &__heading {
            font-size: 2.5rem;
            margin-bottom: 2rem;
            // border: 1px solid red;
            text-align: center;


            &--text {
                color: var(--color-brown-1);
                text-decoration: none;
                font-weight: 900;

                &:hover {
                    color: var(--color-green-dark-1);
                    border-bottom: 1px solid var(--color-green-dark-1);
                }
            }

            &-mid {
                font-size: 2.3rem;
            }
        }

        &__para {
            font-size: 1.5rem;
            text-align: center;
            line-height: 2rem;
            letter-spacing: .5px;

            color: var(--color-brown-2);

            margin-bottom: 2rem;
        }
    }
}


/*
    ITEM CARDS SECTION
*/

.item-cards {
    &-div1 {
        margin-top: 7rem;
    }

    &-div__heading {
        font-size: 2.5rem;
        font-weight: 400;
    }

    &-flex-div {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
    }

    &-container {
        display: flex;
        flex-direction: column;
        position: relative;

        // border: 1px solid red;
        border-bottom: 1px solid var(--color-border);

        width: 30rem;
        height: 32rem;

    }

    &__image {
        width: 29.5rem;
    }

    &__details {
        margin-top: 1.2rem;
        // border: 1px solid red;

        height: 100%;
    }

    &__farm-name {
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 1.2px;
    }

    &__item-name {
        font-size: 1.8rem;
        margin-right: 3rem;
    }

    &-purchase-price {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        display: flex;
        justify-content: space-between;

        margin-bottom: 1rem;
        // border: 1px solid red;
    }

    &__per-unit {
        font-size: 1.2rem;
        font-weight: 900;
        color: var(--color-grey);
    }

    &-purchase-price {
        &-left {
            align-self: flex-end;
        }

        &-right {
            display: flex;
            align-items: center;
            // border: 1px solid red;
        }
    }

    &__purchase-unit {
        font-size: 1.1rem;
        font-weight: 900;
        margin-bottom: -.5rem;
    }

    &__sp-dollars {
        font-size: 2rem;
        margin-left: .5rem;
        padding-right: 1.5rem;
        font-weight: 400;

        position: relative;
    }

    &__sp-cents {
        font-size: 1rem;
        position: absolute;
        font-weight: 900;
        top: 0;
        right: 3px;
    }

    &-see-more {
        &-items {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 2rem 0;

            &:hover {
                cursor: pointer;
            }
            // border: 1px solid red;
        }
        &__text {
            margin-left: 5px;
            font-size: 1.3rem;
            color: var(--color-green-light-1);
        }

        &-icon-div {
            // background-color: yellow;
            // border: 1px solid red;
            border-radius: 50%;
            padding: 5px;
            fill: var(--color-green-light-1);
            background-color: var(--color-green-light-5);
        }

        &__icon {
            height: 1.4rem;
            width: 1.4rem;
            display: block;
            // border: 1px solid green;

            
        }
    }
}

/*REUSABLE COMPONENTS*/
.btn-inline {
    font-weight: 600;
    font-size: 1.1rem;
    font-style: 600;
    text-transform: uppercase;

    padding: 5px 1rem;

    border-radius: 100px;
    border: 1px solid var(--color-green-light-2);

    color: var(--color-green-light-2);
    background-color: white;

    &:hover {
        background-color: var(--color-green-light-2);
        color: white;
        cursor: pointer;
    }
}

.header {
    &-item-margin-left {
        margin-left: 2rem;
    }

    &-item-div-margin-left {
        margin-left: 4rem;

    }
}

// OTHER COMPONENTS
.inner-link {
    font-weight: 400;
}

