:root {
  --color-primary: #FFFFFF;
  --color-brown-1: #3E3C38;
  --color-brown-2: #403E3B;
  --color-green-light-1: #206E73;
  --color-green-light-2: #3F9E99;
  --color-green-light-3: #76BAB6;
  --color-green-light-4: #A5D7D5;
  --color-green-dark-1: #025A60;
  --color-heart: #DB6751;
  --color-border: #E8E6E6;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Arimo', sans-serif;
  background-color: var(--color-primary);
}

/* 
HEADER AREA - logo, two item div's
*/
.container {
  height: 500rem;
}

.header {
  height: 11.5rem;
  border-bottom: 2px solid var(--color-border);
}

.header-container {
  display: flex;
  margin: 0 10rem;
  padding-top: 1rem;
  height: 100%;
}

.main-container {
  margin: 0 10rem;
}

.item-cards {
  margin: 0 10rem;
}

/* 
HEADER AREA - logo, two item div's
*/
.header-company-logo {
  display: inline-block;
}

.header-company-logo__img {
  width: 10.5rem;
  /* or any custom size */
}

.header-item-divs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding-bottom: 3rem;
}

.header-item-div-links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 1.3rem;
  font-weight: 600;
}

/*
    MAIN HEADER BLOCK 
*/
.main-container {
  border-bottom: 1px solid var(--color-border);
}

.main__heading {
  margin: 4rem 0;
  font-size: 4rem;
  font-weight: 600;
  color: var(--color-brown-1);
}

.main-top-flexbox {
  display: flex;
}

.main-top-img-div {
  width: 66%;
}

.main__image {
  height: 43rem;
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  flex-grow: 2;
}

.main__image:hover {
  cursor: pointer;
}

.main-shop-now-block {
  flex: 1 0 0;
  position: relative;
}

.main-shop-now-headings {
  position: absolute;
  top: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5rem;
}

.main-shop-now__heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.main-shop-now__heading--text {
  color: var(--color-brown-1);
  text-decoration: none;
}

.main-shop-now__heading--text:hover {
  color: var(--color-green-dark-1);
  border-bottom: 1px solid var(--color-green-dark-1);
}

.main-shop-now__para {
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
  color: var(--color-brown-2);
  margin-bottom: 2rem;
}

/*
    ITEM CARDS SECTION
*/
.item-cards-div1 {
  margin-top: 7rem;
}

.item-cards-div__heading {
  font-size: 2.5rem;
  font-weight: 400;
}

.item-cards-flex-div {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.item-cards-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-border);
}

.item-cards__image {
  width: 29.5rem;
}

.item-cards__details {
  padding: 1.2rem;
  border: 1px solid red;
}

.item-cards__farm-name {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.item-cards__item-name {
  font-size: 1.8rem;
}

/*REUSABLE COMPONENTS*/
.btn-inline {
  font-weight: 600;
  font-size: 1.1rem;
  font-style: 600;
  text-transform: uppercase;
  padding: 5px 1rem;
  border-radius: 100px;
  border: 1px solid var(--color-green-light-2);
  color: var(--color-green-light-2);
  background-color: white;
}

.btn-inline:hover {
  background-color: var(--color-green-light-2);
  color: white;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */