:root {
  --color-primary: #FFFFFF;
  --color-primary-dark: #EEEEEE;
  --color-brown-1: #3E3C38;
  --color-brown-2: #403E3B;
  --color-green-light-1: #206E73;
  --color-green-light-2: #3F9E99;
  --color-green-light-3: #76BAB6;
  --color-green-light-4: #A5D7D5;
  --color-green-light-5: #D3E2E1;
  --color-green-dark-1: #025A60;
  --color-heart: #DB6751;
  --color-border: #E8E6E6;
  --color-grey: #9E9D9C;
  --color-violet: #233065;
  --color-orange-light: #FFEFE2;
  --color-checkout-bottom: #F9F8F4;
  --color-checkout-div-background: #D5D4D0;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Arimo', sans-serif;
  background-color: var(--color-primary);
}

.header {
  height: 11.5rem;
  border-bottom: 2px solid var(--color-border);
}

.header-container {
  display: flex;
  margin: 0 10rem;
  padding-top: 1rem;
  height: 100%;
}

.main-container {
  margin: 0 10rem;
}

.item-cards {
  margin: 0 10rem;
}

.small-card-layout {
  margin: 0 10rem;
}

.footer {
  height: 40rem;
  background-color: var(--color-violet);
}

/* 
HEADER AREA - logo, two item div's
*/
.header-item-div-link-relative {
  position: relative;
}

.header-company-logo {
  display: inline-block;
}

.header-company-logo__img {
  width: 10.5rem;
  /* or any custom size */
}

.header-item-divs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding-bottom: 3rem;
}

.header-item-div-container {
  display: flex;
  align-items: center;
}

.header-item-div-link {
  display: flex;
  align-items: center;
}

.header-item-div-link__text {
  margin-left: 1rem;
  font-size: 1.3rem;
  font-weight: 900;
}

.header-item-div-link__text:hover {
  color: var(--color-green-dark-1);
  border-bottom: 1px solid var(--color-green-dark-1);
  cursor: pointer;
}

.header-item-div-link-relative {
  position: relative;
}

.header-item-div-links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 1.3rem;
  font-weight: 600;
}

.header-item-div-links-left {
  display: flex;
  align-items: center;
}

.header-item-div-links-right {
  display: flex;
}

.header-item-div-links-height {
  height: 7.8rem;
}

.header__svg-icon {
  height: 2.3rem;
  width: 2.3rem;
  fill: var(--color-green-dark-1);
}

.header__svg-icon-heart {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: -.5rem;
  fill: var(--color-heart);
}

.header__svg-icon--cursor {
  cursor: pointer;
}

.header__svg-icon-search--fill {
  fill: black;
}

.header__svg-icon-search--fill:hover {
  fill: var(--color-green-dark-1);
}

.header__svg-icon-shop-bag {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 11.5rem;
  border: 1px solid var(--color-border);
  border-top: 0;
  border-bottom-left-radius: 3px;
  background: var(--color-primary);
}

.dropdown-container {
  width: 19%;
}

.dropdown-container__li {
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 1rem 4rem 3rem 3rem;
}

.dropdown-container__li:last-child {
  margin-bottom: 2rem;
}

.header-shopping-dropdown {
  display: flex;
  align-items: center;
}

.one-edge-shadow {
  box-shadow: 0 8px 1px -6px rgba(0, 0, 0, 0.4);
}

.shopping-dropdown-container {
  position: absolute;
  top: 11.5rem;
  right: 10rem;
  width: 40rem;
  height: 18rem;
  border: 1px solid var(--color-border);
  border-top: none;
}

.shopping-dropdown-top_p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-orange-light);
  padding: 1rem;
  font-weight: 400;
}

.shopping-dropdown-top_p--text {
  font-weight: 600;
  font-style: bold;
  letter-spacing: .8px;
}

.shopping-dropdown-mid {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
  background-color: var(--color-primary);
  border-bottom: 1px solid var(--color-border);
}

.shopping-dropdown-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-checkout-bottom);
}

.shopping-dropdown-bottom__p {
  padding: 1.2rem;
  font-weight: 400;
  letter-spacing: .8px;
}

.shopping-dropdown-checkout-btn {
  display: flex;
  justify-content: center;
  color: var(--color-primary);
  background: var(--color-checkout-div-background);
  width: 100%;
  padding: 1.3rem;
  margin-bottom: 2.2rem;
  border-radius: 5rem;
}

.small-card-heading {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--color-brown-1);
  margin-bottom: 2rem;
}

.small-card-randc {
  margin-bottom: 8rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.small-card-item {
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.small-card-item:hover {
  transition: box-shadow .1s;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
}

.small-card-item:hover .small-card-item__tag {
  color: var(--color-green-dark-1);
  border-bottom: 1px solid var(--color-green-dark-1);
  cursor: pointer;
}

.small-card-item__img {
  width: 23rem;
}

.small-card-item-div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.small-card-item__tag {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

/*
    MAIN HEADER BLOCK 
*/
.main__heading {
  margin: 4rem 0 3rem 0;
  font-size: 4rem;
  font-weight: 600;
  color: var(--color-brown-1);
}

.main-top-flexbox {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

.main-top-flexbox:hover {
  transition: box-shadow .1s;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
}

.main-top-img-div {
  width: 66%;
}

.main__image {
  height: 43rem;
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  flex-grow: 2;
}

.main__image:hover {
  cursor: pointer;
}

.main-shop-now-block {
  flex: 1 0 0;
  position: relative;
}

.main-shop-now-headings {
  position: absolute;
  top: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5rem;
}

.main-shop-now__heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.main-shop-now__heading--text {
  color: var(--color-brown-1);
  text-decoration: none;
  font-weight: 900;
}

.main-shop-now__heading--text:hover {
  color: var(--color-green-dark-1);
  border-bottom: 1px solid var(--color-green-dark-1);
}

.main-shop-now__heading-mid {
  font-size: 2.3rem;
}

.main-shop-now__para {
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
  letter-spacing: .5px;
  color: var(--color-brown-2);
  margin-bottom: 2rem;
}

/*
    ITEM CARDS SECTION
*/
.item-cards-div1 {
  margin-top: 7rem;
}

.item-cards-div__heading {
  font-size: 2.5rem;
  font-weight: 400;
}

.item-cards-flex-div {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.item-cards-container {
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid var(--color-border);
  width: 30rem;
  height: 32rem;
}

.item-cards__image {
  width: 29.5rem;
}

.item-cards__details {
  margin-top: 1.2rem;
  height: 100%;
}

.item-cards__farm-name {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.item-cards__item-name {
  font-size: 1.8rem;
  margin-right: 3rem;
}

.item-cards-purchase-price {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.item-cards__per-unit {
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--color-grey);
}

.item-cards-purchase-price-left {
  align-self: flex-end;
}

.item-cards-purchase-price-right {
  display: flex;
  align-items: center;
}

.item-cards__purchase-unit {
  font-size: 1.1rem;
  font-weight: 900;
  margin-bottom: -.5rem;
}

.item-cards__sp-dollars {
  font-size: 2rem;
  margin-left: .5rem;
  padding-right: 1.5rem;
  font-weight: 400;
  position: relative;
}

.item-cards__sp-cents {
  font-size: 1rem;
  position: absolute;
  font-weight: 900;
  top: 0;
  right: 3px;
}

.item-cards-see-more-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.item-cards-see-more-items:hover {
  cursor: pointer;
}

.item-cards-see-more__text {
  margin-left: 5px;
  font-size: 1.3rem;
  color: var(--color-green-light-1);
}

.item-cards-see-more-icon-div {
  border-radius: 50%;
  padding: 5px;
  fill: var(--color-green-light-1);
  background-color: var(--color-green-light-5);
}

.item-cards-see-more__icon {
  height: 1.4rem;
  width: 1.4rem;
  display: block;
}

.bottom-card-item {
  height: 20rem;
}

.bottom-card-item-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container-top {
  display: flex;
  align-items: center;
  height: 34rem;
  border-bottom: 1px solid white;
}

.footer-container-bottom {
  display: flex;
  color: white;
}

.footer-container-img-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 7rem;
}

.footer-container__img {
  width: 15rem;
  margin-bottom: 2.5rem;
}

.footer-container__img-tag {
  width: 31rem;
}

.footer-container-shop {
  color: white;
  font-size: 1.3rem;
}

.footer-container-shop__heading {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 1.3rem;
}

.footer-container-shop-items {
  list-style: none;
  font-weight: 400;
}

.footer-container-shop__item {
  margin: 0.8rem 0;
}

.footer-container-icon-div {
  display: inline-block;
  background-color: var(--color-primary-dark);
  border-radius: 6px;
  padding: 0.3rem 0.6rem;
}

.footer-container-icon-div:hover {
  background-color: var(--color-primary);
}

.footer-container-icon-div-2 {
  padding: 0.6rem 0.8rem;
  border-radius: 100%;
  background-color: var(--color-primary-dark);
}

.footer-container-icon-div-2:hover {
  background-color: var(--color-primary);
}

.footer-container-end {
  margin-left: 20rem;
  margin-top: -14rem;
}

.footer-container-end-flex {
  display: flex;
}

.footer-container-end-flex div:not(:first-child) {
  margin-left: 1.4rem;
}

.footer-container-bottom {
  height: 6rem;
  margin: 0 10rem;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.footer-container-bottom__terms {
  margin-left: 2rem;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
  margin-top: -5px;
}

.footer-container-mid {
  display: flex;
  width: 30%;
  margin-left: 8rem;
  justify-content: space-between;
}

.footer-container-third {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.footer__svg-icon-1 {
  height: 1.6rem;
  width: 1.6rem;
  fill: var(--color-violet);
}

.footer__svg-icon-2 {
  height: 2rem;
  width: 2rem;
  fill: var(--color-violet);
}

/*REUSABLE COMPONENTS*/
.btn-inline {
  font-weight: 600;
  font-size: 1.1rem;
  font-style: 600;
  text-transform: uppercase;
  padding: 5px 1rem;
  border-radius: 100px;
  border: 1px solid var(--color-green-light-2);
  color: var(--color-green-light-2);
  background-color: white;
}

.btn-inline:hover {
  background-color: var(--color-green-light-2);
  color: white;
  cursor: pointer;
}

.header-item-margin-left {
  margin-left: 2rem;
}

.header-item-div-margin-left {
  margin-left: 4rem;
}

.inner-link {
  font-weight: 400;
}

.page-end-container {
  margin-bottom: 8rem;
}

.hr-line {
  height: 4rem;
  margin-top: 1.8rem;
  color: var(--color-border);
}
/*# sourceMappingURL=main.css.map */